<html>
    <title>Informacao adicionada</title>
    <body style="padding:20px">
        <a href="analises">
            <input type="submit" value="Voltar"/>
        </a> <br><br>
        <form action="analises_adicionar_submit" method="post">
            <h3>Nova analise criada!</h3>
            <p>Nova especialidade: {{ params["especialidade"].value }}</p>
            <p>Novo numero de cedula: {{ params["num_cedula"].value }}</p>
            <p>Novo numero de doente: {{ params["num_doente"].value }}</p>
            <p>Nova data: {{ params["data"].value }}</p>
            <p>Nova data de registo: {{ params["data_registo"].value }}</p>
            <p>Nova descricao: {{ params["nome"].value }}</p>
            <p>Nova quantidade: {{ params["quantidade"].value }}</p>
            <p>Nova instituicao: {{ params["instituicao"].value }}</p>
        </form>
    </body>
</html>