<html>
    <title>Adicionar informacao</title>
    <body style="padding:20px">
        <a href="analises">
            <input type="submit" value="Voltar"/>
        </a> <br><br>
        <h3>Adicionar informacao de uma nova Analise</h3>
        <form action="analises_adicionar_submit" method="post">
            <p>Nova especialidade: <input type="text" name="especialidade" pattern="[a-zA-Z ]+" required /></p>
            <p>Novo numero de cedula: <input type="number" name="num_cedula" min="1" required/></p>
            <p>Novo numero de doente: <input type="number" name="num_doente" min="1" required/></p>
            <p>Nova data: <input type="date" name="data" required/></p>
            <p>Nova data de registo: <input type="date" name="data_registo" required/></p>
            <p>Nova descricao: <input type="text" name="nome" pattern="[a-zA-Z ]+" required /></p>
            <p>Nova quantidade: <input type="number" name="quantidade" min="1" required/></p>
            <p>Nova instituicao: <input type="text" name="instituicao" pattern="[a-zA-Z ]+" required /></p>
            <p><input type="submit" value="Submeter"/></p>
        </form>
    </body>
</html>