<html>
    <title>Adicionar informacao</title>
    <body style="padding:20px">
        <a href="analises">
            <input type="submit" value="Voltar"/>
        </a> <br><br>
        <h3>Adicionar informacao de uma nova Prescricao</h3>
        <form action="analises_adicionar_submit" method="post">
            <p>Novo numero de analise: <input type="number" name="novo_num_analise" min="1" required/></p>
            <p>Nova especialidade: <input type="text" name="nova_especialdade" pattern="[a-zA-Z ]+" required /></p>
            <p>Novo numero de cedula: <input type="number" name="novo_num_cedula" min="1" required/></p>
            <p>Novo numero de doente: <input type="number" name="novo_num_doente" min="1" required/></p>
            <p>Nova data: <input type="date" name="nova_data" required/></p>
            <p>Nova data de registo: <input type="date" name="nova_data_registo" required/></p>
            <p>Nova analise: <input type="text" name="novo_analise" pattern="[a-zA-Z ]+" required /></p>
            <p>Nova quantidade: <input type="number" name="nova_quantidade" required/></p>
            <p>Nova instituicao: <input type="text" name="nova_instituicao" pattern="[a-zA-Z ]+" required /></p>
            <p><input type="submit" value="Submeter"/></p>
        </form>
    </body>
</html>