<doctype html>
<html>
    <title>Menu principal</title>
    <body style="padding:20px">
        <h1>Operacoes:</h1> 
        <ul>
            <li><a href="instituicoes">
                <h2>Instituicoes</h2>
            </a></li>
            <li><a href="medicos">
                <h2>Medicos</h2>
            </a></li>
            <li> <a href="prescricoes">
                <h2>Prescricoes</h2>
            </a></li>
            <li> <a href="analises">
                <h2>Analises</h2>
            </a></li>
        </ul> 
    </body>
</html>
</doctype>