<html>
    <body>
        <h3>Editar informacao da instituicao {{ params.get("nome") }}</h3>
        <form action="update" method="post">
            <p><input type="hidden" name="nome" value="{{ params.get('nome') }}"/></p>
            <p>Novo nome: <input type="text" name="novo_nome"/></p>
            <p>Novo tipo: <input type="text" name="novo_tipo"/></p>
            <p>Novo numero de regiao: <input type="number" name="novo_num_regiao"/></p>
            <p>Novo numero de concelho: <input type="number" name="novo_num_concelho"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>
