<html>
    <title>Editar informacao</title>
    <body style="padding:20px">
        <a href="instituicoes">
            <input type="submit" value="Voltar"/>
        </a> <br><br>
        <h3>Editar informacao da Instituicao {{ params["nome"].value }}</h3>
        <form action="instituicoes_editar_submit" method="post">
            <input type="hidden" name="nome" value="{{ params['nome'].value }}"/>
            <p>Novo numero de regiao: <input type="number" name="novo_num_regiao" min="1" max="5" required/></p>
            <p>Novo numero de concelho: <input type="number" name="novo_num_concelho" min="1" max="104" required/></p>
            <p><input type="submit" value="Submeter"/></p>
        </form>
    </body>
</html>