<html>
    <title>Informacao submetida</title>
    <body style="padding:20px">
        <a href="instituicoes">
            <input type="submit" value="Voltar"/>
        </a> <br><br>
        <form action="instituicoes_editar_submit" method="post">
            <h3>Alteracoes bem sucedidas na instituicao {{ params["nome"].value }}!</h3>
            <!-- <p>Novo nome: {{ params["novo_nome"].value }}</p> -->
            <p>Novo numero de regiao: {{ params["novo_num_regiao"].value }}</p>
            <p>Novo numero de concelho: {{ params["novo_num_concelho"].value }}</p>
        </form>
    </body>
</html>