<html>
    <title>Adicionar informacao</title>
    <body style="padding:20px">
        <a href="medicos">
            <input type="submit" value="Voltar"/>
        </a> <br><br>
        <h3>Adicionar informacao de um novo Medico</h3>
        <form action="medicos_adicionar_submit" method="post">
            <p>Novo numero de cedula: <input type="number" name="novo_num_cedula" min="1" required/></p>
            <p>Novo nome: <input type="text" name="novo_nome" pattern="[a-zA-Z ]+" required /></p>
            <p>Novo especialidade: <input type="text" name="nova_especialidade" pattern="[a-zA-Z ]+" required /></p>
            <p><input type="submit" value="Submeter"/></p>
        </form>
    </body>
</html>