<html>
    <title>Adicionar informacao</title>
    <body style="padding:20px">
        <a href="prescricoes">
            <input type="submit" value="Voltar"/>
        </a> <br><br>
        <h3>Filtrar Prescricoes</h3>
        <form action="prescricoes.html" method="post">
            <p>Novo numero de cedula: <input type="number" name="novo_num_cedula" min="1" required /></p>
            <p>Nova data: <input type="date" name="nova_data" required/></p>
            <p><input type="submit" value="Submeter"/></p>
        </form>
    </body>
</html>